@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
}

.search {
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
}

#search::placeholder {
    color: #7378c5;
}

#search:focus {
    outline: none;
    background-color: #22254b;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #484d83;
    border-radius: 10px;
    width: 300px;
    margin: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.movie img {
    width: 100%;
    height: 400px;
    display: inline-block;
    object-fit: cover;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.movie-info {
    color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
    align-items: center;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.overview {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    padding: 2rem;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0%);
}

.pagination {
    width: 100%;
    height: 80px;
    padding: 20px 0 20px 0;
    opacity: 0;
}

.pagination:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.prev {
    height: 40px;
    width: 150px;
    font-size: 20px;
    color: #8288d4;
    border-radius: 20px;
    margin: 0 30px 0 30px;
    position: absolute;
    left: 50px;
    background-color: #373b69;;
    border: 2px solid rgb(12, 2, 53);
}

.next {
    height: 40px;
    width: 150px;
    position: absolute;
    right: 50px;
    font-size: 20px;
    color: #8288d4;
    border-radius: 20px;
    margin: 0 30px 0 30px;
    background-color: #373b69;
    border: 2px solid rgb(12, 2, 53);
}

.prev:focus {
    outline: none;
}

.next:focus {
    outline: none;
}

